@use "../../utils/index" as utils;

.navigation-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;

    font-size: var(--heading-four-fontsize);
    letter-spacing: var(--navtext-spacing);
    text-transform: uppercase;

    z-index: var(--z-nav-link-bubble);
    margin: 1rem 1.5rem;

    .logo-container{
        .logo{
            width: 55px;  
            z-index: var(z-nav-text);
        }

        .logo-bubble{
            position: absolute;
            top: -2px;
            left: -1px;
            z-index: var(--z-logo-bubble);
            filter: drop-shadow( 5px 5px 4px rgba(0, 0, 0, 0.25));
        }       
    }

    .navigation-content-container{      
        display: flex;
        justify-content: flex-start;
        flex-direction: column; 

        .mobile-navbar-icon{
            height: 21px;
            width: 24px;
            align-self: flex-end;
        }

        .nav-toggle-bubble{
            position: absolute;
            top: -1rem;
            right: -1.5rem;
            z-index: var(--z-mobile-nav-background-bubble);

            height: 0;
            filter: drop-shadow( 10px 10px 4px rgba(0, 0, 0, 0.25));
        }

        /* Animation for mobile Navbar sliding in */
        .toggle-slide-in{
            animation: 1.5s  slideIn;
            animation-timing-function: linear;
            height: 300px;

            @keyframes slideIn {
                0% {
                  height: 0;
                }
              
                50% {
                    height: 300px;
                    transform: scale(1);
                }

                55%{
                    height: 300px;
                    transform: scale(1);
                }

                75%{
                    transform: scale(1.1);
                }

                100%{
                    transform: scale(1);
                }
            } 
        }

        /* Animation for mobile Navbar sliding Out */
        .toggle-slide-out{
            animation: 0.75s  slideOut;
            animation-timing-function: linear;
            height: 0;

            @keyframes slideOut {
                0%{
                    transform: scale(1);
                    height: 300px;
                }
                50%{
                    transform: scale(1.5);
                }
                90%{
                    transform: scale(2);
                }
                95%{
                    transform: scale(2.2);
                    height: 300px;
                }
                100%{
                    transform: scale(0);
                    height: 0;
                }
            }
        }

        .nav-links-container{
            display: none;
            flex-direction: column;
            justify-content: flex-start;
            position: relative;
            
            color: var(--white);
        }
    }
}

// Expand mobile Nav after click  on hamburger
.toggled{
    width: 55%;
    position: fixed;
    right: 1.5rem;
}

// Show mobile overlay after click on hamburger
.overlay-toggled{
    height: 100vh;
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(5px);
    z-index: var(--z-overlay);
}

/* Medium Screen width */
@include utils.breakpoint(medium){
    .wrapper{
        .navigation-container{
            align-items: center;

            .logo-bubble{
                width: 125px;
                height: 120px;
            }

            .navigation-content-container{
                .mobile-navbar-icon{
                    display: none;
                }

                .nav-links-container{
                    display: flex;
                    flex-direction: row;
                }
            }
        }
    }
}

/* Large Screen width */
@include utils.breakpoint(large){
    .wrapper{
        .navigation-container{
            align-items: center;

            .logo-bubble{
                width: 150px;
                height: 140px;
            }

            .logo{
                margin-left: 1rem;
            }
        }
    }
}


