@use "../../../utils/index" as utils;

.skill-item-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: var(--blue);
    opacity: 95%;
    border-radius: 10px;
    filter: drop-shadow( 10px 10px 4px rgba(0, 0, 0, 0.25));

    .meme-image{
        width: 90%;
        margin: auto;
        margin-top: 5%;
        border-radius: 10px;
        margin-bottom: 5%;
        filter: drop-shadow( 10px 10px 4px rgba(0, 0, 0, 0.25));
    }

    .skill-item-content-container{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        margin-bottom: 5%;

        .skill-item-content{
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: var(--green);
            padding: 1rem 1.25rem;
            border-radius: 50%;
            filter: drop-shadow( 10px 10px 4px rgba(0, 0, 0, 0.25));
            
            .skill-name{
                padding-bottom: 0;
                margin-top: 0.5rem;
                margin-bottom: 0.5rem;
            }

            .skill-logo{
                width: 50px;
                height: 50px;
                filter: drop-shadow( 10px 10px 4px rgba(0, 0, 0, 0.25));
            }
        }
    }
}