@use "../../utils/index" as utils;

.home-container{
    width: 80%;
    height: 100%;
    margin: auto;
    margin-top: 5rem;
    margin-bottom: 3rem;

    z-index: -4;
    position: relative;
    display: flex;
    flex-direction: column;

    .hello{
        font-weight: 400;
    }

    .home-subheading{
        font-size: var(--heading-three-fontsize);
    }

    .text{
        margin-top: 2rem;
        font-size: var(--text-fontsize);
    }

    .background-bottom-right{
        position: fixed;
        width: 80%;
        overflow: visible;
    
        fill: var(--green);

        z-index: var(--z-nav-link-bubble);
    
        bottom: -2rem;
        right: -2rem;
        filter: drop-shadow( 10px 10px 4px rgba(0, 0, 0, 0.25));
    }

    .me{
        display: none;
    }

    /* Medium Screen width */
    @include utils.breakpoint(medium){
        margin-top: 0;
        
        .home-text-container{
            padding-top: 5rem;
        }

        .home-subheading{
            font-size: var(--heading-two-fontsize);
        }

        .background-bottom-right{
            fill:var(--blue);
            width: 40%;
            right: 5%;
        }
    }

    @include utils.breakpoint(large){
        flex-direction: row;
        justify-content: space-between;
        margin-top: 5;
 

        .home-text-container{
            width: 65%;
            padding-top: 5rem;
        }
        
        .background-bottom-right{
            width: 30%;
            opacity: 95%;
            z-index: 1; 
        }

        .me{
            display: block;
            content: url(../../assets/Me.png);
            width: 30%;
            max-width: 300px;
            max-height: 800px;
            position: relative;
        }
    }
    @include utils.breakpoint(xLarge){
        margin-bottom: 0;
        .home-text-container{
            width: 55%;
        }
        
        .background-bottom-right{
            width: 30%;
            bottom: 0;
        }
    }
}