
:root{
    --white: rgb(255, 255, 255);
    --background: rgb(53, 53, 53);
    --nav-background: rgba(255,255,255,0.04);
    --green: rgb(60, 110, 113);
    --bright-green: rgb(16, 188, 198);
    --creme: rgb(217, 217, 217);
    --light-purple: rgb(208, 214, 249);
    --blue: rgb(46, 64, 87);
    --skills-container-background: rgba(46, 64, 87, 0.75)
}
