
:root{
    --white: rgb(255, 255, 255);
    --background: rgb(53, 53, 53);
    --nav-background: rgba(255,255,255,0.04);
    --green: rgb(60, 110, 113);
    --creme: rgb(217, 217, 217);
    --light-purple: rgb(40, 75, 99);
    --blue: rgb(46, 64, 87);
}
