:root{
    --heading-fontsize: clamp(60px, 10vw, 100px);
    --heading-two-fontsize: clamp(25px, 6vw, 50px);
    --heading-three-fontsize: clamp(20px, 4vw, 40px);
    --heading-four-fontsize: clamp(16px, 2vw, 20px);
    --text-fontsize: clamp(16px, 2vw, 18px);;

    --heading-spacing: 5px;
    --heading-two-spacing: 2.7px;
    --navtext-spacing: 2.7px;

    --text-lineheight: 22px;
    
    --heading-family: 'Helvetica Neue', sans-serif;
    --text-family: 'Garamond', sans-serif;
}

