:root{
    --heading-fontsize: clamp(50px, 11vw, 120px);
    --heading-two-fontsize: clamp(25px, 6vw, 50px);
    --heading-three-fontsize: clamp(22px, 4vw, 30px);
    --heading-four-fontsize: clamp(17px, 3vw, 25px);
    --nav-fontsize: clamp(17px, 2.3vw, 20px);
    --text-fontsize: clamp(16px, 2vw, 19px);;

    --heading-spacing: 5px;
    --heading-two-spacing: 2.7px;
    --navtext-spacing: 2.7px;

    --text-lineheight: 22px;
    
    --heading-family: 'Helvetica Neue', sans-serif;
    --text-family: 'Garamond', sans-serif;
}

