@use "./utils/index" as utils;

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-size: var(text-fontsize);

  background-color: var(--background);
}

a, a:visited, a:active{
  text-decoration: none;
  color: var(--white);
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4{
  font-family: var(--heading-family);
  font-weight: bold;
}

h1{
  font-size: var(--heading-fontsize);
  color: var(--white);
}
h2{
  font-size: var(--heading-two-fontsize);
  color: var(--bright-green);
  letter-spacing: var(--heading-two-spacing);
  font-weight: normal;
}
h3{
  font-size: var(--heading-three-fontsize);
  font-family: var(--text-family);
  color: var(--light-purple);
}
h4{
  font-size: var(--heading-four-fontsize);
}

p{
  color: var(--light-purple);
  font-family: var(--text-family);
  font-size: var(--text-fontsize);
  line-height: var(--text-lineheight);
}