@use "../../utils/index" as utils;

.background-container{
    position: relative;
    height: 100%;
    width: 100%;

    z-index: var(--z-background-bubbles);

    .background-top-right{
        position: fixed;
        width: 350px;

        right: -2rem;
        top: 4rem;
        filter: drop-shadow( 10px 10px 4px rgba(0, 0, 0, 0.25));
    }

    .background-bottom-right{
        position: fixed;
        width: 350px;
        height: 200px;

        bottom: -2rem;
        right: -2rem;
        filter: drop-shadow( 10px 10px 4px rgba(0, 0, 0, 0.25));
    }

    .background-middle-left{
        position: fixed;
        width: 60px;

        left: 0;
        bottom: 6rem;
        filter: drop-shadow( 10px 10px 4px rgba(0, 0, 0, 0.25));
    }

    @include utils.breakpoint(medium){
        .background-top-right{
            width: 600px;
            right: 0;
            top: 10rem;

            content: url("../../assets/shared/background/background-right-top-green.png");
        }

        .background-bottom-right{
            content: url("../../assets/shared/background/background-right-bottom-blue.png");
            width: 450px;
        }
    
        .background-middle-left{
            content: url("../../assets/shared/background/background-left-middle-blue.png");
            width: 80px;
        }
    }

    @include utils.breakpoint(large){
        .background-top-right{
            width: 800px;
            height: 500px;
            right: 0;
            top: 7rem;

            transform: rotate(8deg);
        }
    
        .background-bottom-right{
            width: 450px;
        }
    
        .background-middle-left{
            width: 80px;
        }
    }
    
    @include utils.breakpoint(xLarge){
        .background-top-right{
            width: 1200px;
            height: 600px;
            right: 0;
            top: 5rem;

            transform: rotate(5deg);
        }
    
        .background-bottom-right{
            width: 550px;
            height: 350px;
        }
    
        .background-middle-left{
            width: 100px;

        }
    }
}