@use "../../utils/index" as utils;

.background-container{
    position: relative;
    height: 100%;
    width: 100%;

    z-index: var(--z-background-bubbles);

    .background-top-right{
        position: fixed;
        right: -2.5rem;
        top: 5rem;
        fill: var(--blue);
        overflow: visible;
           
        filter: drop-shadow( 10px 10px 4px rgba(0, 0, 0, 0.25));

        width: 90%;
    }

    

    .background-middle-left{
        position: fixed;
        overflow: visible;

        fill: var(--green);

        left: 1rem;
        top:  70%;
        width: 200%;

        filter: drop-shadow( 10px 10px 4px rgba(0, 0, 0, 0.25));
    
    }

    @include utils.breakpoint(medium){
        .background-top-right{
            right: 0;
            top: 10rem;

            fill:var(--green);
            width: 75%;
   
        }

        .background-middle-left{
            fill:var(--blue);   
            
        }
    }

    @include utils.breakpoint(large){
        .background-top-right{
            width: 60%;
            top: 0;
            transform: rotate(8deg);
        }
        
        .background-middle-left{
            width: 150%;
        }
    }

    @include utils.breakpoint(xLarge){
        .background-top-right{
            width: 60%;
            top: -10%;

            transform: rotate(8deg) scaleX(1.2) scaleY(0.7);
        }
    
        .background-middle-left{
            width: 125%;
        }
    }
}
