.project-item-container{
    margin-bottom: 1.5rem;
    background-color: var(--blue);
    text-align: center;
    padding: 1rem;
    padding-bottom: 2rem;
    border-radius: 10px;
    filter: drop-shadow( 10px 10px 4px rgba(0, 0, 0, 0.25));

    .project-title{
        color: var(--white);
    }

    .project-buttons{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        margin-top: 1rem;

        .link-button{
            position: relative;

            .project-button-bubble{               
                filter: drop-shadow( 10px 10px 4px rgba(0, 0, 0, 0.25));
                width: 80%;
            }

            .project-button-bubble:hover{
                
            }

            .code-bubble{
                transform: rotateY(180deg);
                filter: drop-shadow( -10px 10px 4px rgba(0, 0, 0, 0.25));
            }

            .button-link{
                position: absolute;
                top: 30%;
                left: 32%;
    
                font-size: var(--heading-four-fontsize);
            }

            .code-link{
                left: 30%;
            }
        }


    }

    .project-image{
        width: 100%;
        border-radius: 10px;
        filter: drop-shadow( 5px 5px 4px rgba(0, 0, 0, 0.25));
    }
}